ion-content::part(scroll) {
  display: flex;
  justify-content: center;
  align-items: center;
}

.welcome-content {
  --background: white;
}

.welcome-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.welcome-logo {
  width: 140px;

}

.welcome-btn {
  width: 250px;
  padding: 12px;
  border-radius: 25px;
  font-size: 16px;
  font-weight: 600;
  font-family: 'Montserrat';
  cursor: pointer;
  border: 2px solid #4E070C;
}

.welcome-btn:hover {
  opacity: 0.8;
}


.primary {
  background: #4E070C;
  color: white;


}

.secondary {
  background: white;
  color: #4E070C;

}