<ion-content class="login-content" fullscreen>

  <div class="login-container">

    <img src="assets/img/logo.png" alt="Pinfud Logo" class="welcome-logo" />
<h1 class="register-title">Iniciar Sesión</h1>
    
    <ion-input
      label="Correo"
      label-placement="floating"
      fill="outline"
    ></ion-input>

    <ion-input
      label="Contraseña"
      label-placement="floating"
      fill="outline"
      type="password"
    ></ion-input>

    <button class="login-btn">Login</button>

    <div class="social-login-container">
      <p class="social-title">Iniciar sesión con</p>

      <div class="social-buttons">

        <ion-button class="social-btn google" shape="round" fill="clear">
          <ion-icon name="logo-google"></ion-icon>
        </ion-button>

        <ion-button class="social-btn facebook" shape="round" fill="clear">
          <ion-icon name="logo-facebook"></ion-icon>
        </ion-button>

        <ion-button class="social-btn x" shape="round" fill="clear">
          <ion-icon name="logo-twitter"></ion-icon>
        </ion-button>

      </div>
    </div>

  </div>

</ion-content>
