<ion-content class="register-content" fullscreen>

  <div class="register-container">

    <img src="assets/img/logo.png" alt="Pinfud Logo" class="welcome-logo" />
    <h1 class="register-title">Registrarse</h1>

    <div class="input-wrapper">
      <label for="name">Nombre</label>
      <input id="name" type="text" [(ngModel)]="vm.name" placeholder="Ingresa tu nombre" />
    </div>

    <div class="input-wrapper">
      <label for="email">Correo</label>
      <input id="email" type="email" [(ngModel)]="vm.email" placeholder="Ingresa tu correo" />
    </div>

    <div class="input-wrapper">
      <label for="password">Contraseña</label>
      <input id="password" type="password" [(ngModel)]="vm.password" placeholder="Ingresa tu contraseña" />
    </div>

    <div class="input-wrapper">
      <label for="confirmPassword">Confirmar contraseña</label>
      <input id="confirmPassword" type="password" [(ngModel)]="vm.confirmPassword"
        placeholder="Confirma tu contraseña" />
    </div>

    <button class="register-btn" (click)="goTohome()">Registrar</button>

  </div>

</ion-content>