<ion-content class="register-content" fullscreen>

  <div class="register-container">

    <img src="assets/img/logo.png" alt="Pinfud Logo" class="welcome-logo" />  
    <h1 class="register-title">Registrarse</h1>
    
    <ion-input 
    label="Nombre" 
    label-placement="floating" 
    fill="outline" 
    ></ion-input>

   <ion-input
    label="Correo" 
    label-placement="floating" 
    fill="outline" 
    ></ion-input>

    <ion-input
    label="Contraseña" 
    label-placement="floating" 
    fill="outline" 
    ></ion-input>

    <ion-input
    label="Confirmar contraseña" 
    label-placement="floating" 
    fill="outline" 
    ></ion-input>

    <button class="register-btn" (click)="goTohome()">Registrar</button>

  </div>

</ion-content>
