<ion-content class="login-content" fullscreen>

  <div class="login-container">

    <img src="assets/img/logo.png" alt="Pinfud Logo" class="welcome-logo" />
    <h1 class="register-title">Iniciar Sesión</h1>

    <div class="input-wrapper">
      <label for="email">Correo</label>
      <input id="email" type="email" [(ngModel)]="vm.email" placeholder="Ingresa tu correo" />
    </div>

    <div class="input-wrapper">
      <label for="password">Contraseña</label>
      <input id="password" type="password" [(ngModel)]="vm.password" placeholder="Ingresa tu contraseña" />
    </div>

    <button class="login-btn" (click)="onLogin( )">Login</button>

    <div class="social-login-container">
      <p class="social-title">Iniciar sesión con</p>

      <div class="social-buttons">

        <ion-button class="social-btn google" shape="round" fill="clear">
          <ion-icon name="logo-google"></ion-icon>
        </ion-button>

        <ion-button class="social-btn facebook" shape="round" fill="clear">
          <ion-icon name="logo-facebook"></ion-icon>
        </ion-button>

        <ion-button class="social-btn x" shape="round" fill="clear">
          <ion-icon name="logo-twitter"></ion-icon>
        </ion-button>

      </div>
    </div>

  </div>

</ion-content>