ion-content {
  --background: #ffffff;
}

.auth-wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 20px 0;
}

.login-content {
  --background: #ffffff;
}

.welcome-logo {
  width: 140px;
  display: block;
  margin: 0 auto;
}

/* Títulos */
.register-title {
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 10px;
  color: #4E070C;
  font-family: 'Montserrat', sans-serif;
}


.login-container {
  width: 85%;
  max-width: 350px;
  display: flex;
  flex-direction: column;
  gap: 18px;
  color: #4E070C;
}

/* Inputs */
ion-input {
  width: 100%;
  max-width: 350px;
  flex-direction: column;
  gap: 18px;
  color: #8d8b8b;
  --border-radius: 200px
}

.login-label {
  color: #555555;
  font-size: 16px;
  font-weight: 600;
  font-family: 'Montserrat', sans-serif;
}

/* Botón Login */
.login-btn {
  background: #4E070C;
  color: white;
  padding: 12px;
  border-radius: 15px;
  font-size: 16px;
  font-weight: 600;
  border: none;
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
  transition: 0.2s ease;
}

.login-btn:hover {
  opacity: 0.8;
}

/* Social login */
.social-login-container {
  text-align: center;
  margin-top: 10px;
  width: 100%;
}

.social-title {
  font-size: 15px;
  margin-bottom: 12px;
  font-weight: 500;
  font-family: 'Montserrat', sans-serif;
  color: #555555b6;
}

/* Iconos sociales */
.social-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 18px;
}

.social-btn {
  width: 55px !important;
  height: 55px !important;
  border-radius: 50%;
  --border-radius: 50%;
  --padding-start: 0;
  --padding-end: 0;
  --background: #F8EFE7;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.2s;
}

ion-icon {
  font-size: 26px;
}

.social-btn:hover {
  transform: translateY(-2px);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

/* Colores según marca */
.google {
  color: #726f6f;
}

.facebook {
  color: #726f6f;
}

.x {
  color: #726f6f;
}