<ion-header class="ion-no-border-header">
  <ion-toolbar class="top-toolbar">
    <div class="header-container">
      <div class="search-bar-wrapper" (click)="openSearch()">
        <ion-icon name="search-outline"></ion-icon>
        <span class="search-placeholder">Busca platos</span>
      </div>

      <div class="top-right">
        <div class="profile-btn" (click)="openProfile()">
          <img src="assets/img/gato.jpeg" alt="Profile" class="profile-img">
        </div>
      </div>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content class="main-content" [fullscreen]="true">

  <div class="categories-hero">
    <div class="categories-scroll">
      <div *ngFor="let category of vm.categories" class="category-chip"
        [class.active]="vm.selectedCategory === category.id" (click)="selectCategory(category.id)">
        <span class="category-name">{{ category.name }}</span>
      </div>
    </div>
  </div>

  <div class="pinterest-grid">
    <div *ngFor="let item of vm.filteredImages" class="image-item" (click)="openItem(item)">
      <img [src]="item.src"/>
    </div>
  </div>

</ion-content>

<ion-footer class="ion-no-border">
  <div class="nav-btn" (click)="setActiveTab('home')">
    <ion-icon name="home-outline"></ion-icon>
  </div>

  <div class="nav-btn" (click)="setActiveTab('add')">
    <ion-icon name="add-outline"></ion-icon>
  </div>

  <div class="nav-btn" [class.has-badge]="vm.hasNotifications" (click)="setActiveTab('notifications')">
    <ion-icon name="notifications-outline"></ion-icon>
    <div class="notification-badge" *ngIf="vm.hasNotifications"></div>
  </div>
</ion-footer>